# Pwskills

## Data Science Master

### Python Assignment

## Q1

Q1. What is a database? Differentiate between SQL and NoSQL databases.


    A database is a collection of data that is organized in a structured manner so that it can be easily accessed, managed, and updated. Databases are commonly used in software applications to store information such as customer data, financial transactions, or inventory records.

    SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems. SQL databases are relational databases, meaning they store data in tables with rows and columns that have a defined relationship with one another. The data is organized in a structured manner and is accessed using SQL commands.

    On the other hand, NoSQL databases do not use tables with rows and columns, and instead store data in various formats such as document, key-value, graph, or column-family. NoSQL databases are often used for handling large volumes of unstructured data or for real-time applications where fast read and write operations are required.

    Here are some key differences between SQL and NoSQL databases:

    1.Data structure: SQL databases use a structured format with tables, columns, and rows, while NoSQL databases can use various data structures such as documents, key-value pairs, or graphs.

    2.Scalability: SQL databases are vertically scalable, meaning they can handle increased traffic by adding more hardware resources. NoSQL databases are horizontally scalable, meaning they can handle increased traffic by adding more servers.

    3.Flexibility: SQL databases have a fixed schema, meaning the data structure is defined in advance and cannot be easily changed. NoSQL databases have a flexible schema, meaning the data structure can be easily modified as needed.

    4.Querying: SQL databases use SQL commands to query data, which can be powerful but may require more effort to write complex queries. NoSQL databases often have simpler query languages that are optimized for specific use cases.

     Overall, the choice between SQL and NoSQL databases will depend on the specific needs of a project or application. SQL databases are often used for structured data with complex relationships, while NoSQL databases are often used for unstructured data that requires high scalability and flexibility.

## Q2

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.


    DDL stands for Data Definition Language, which is a subset of SQL used to define the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and constraints. Here are some common DDL statements and their usage:

    1.CREATE: The CREATE statement is used to create a new database object such as a table, view, index, or constraint. Here is an example of a CREATE statement used to create a new table:

In [ ]:
CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(50)
);

    This statement creates a new table named "customers" with three columns: "id", "name", and "email".

     2.DROP: The DROP statement is used to delete a database object such as a table, view, index, or constraint. Here is an example of a DROP statement used to delete a table:

In [ ]:
DROP TABLE customers;

    This statement deletes the "customers" table from the database.

     3.ALTER: The ALTER statement is used to modify the structure of a database object such as a table or index. Here is an example of an ALTER statement used to add a new column to an existing table:

In [ ]:
ALTER TABLE customers ADD phone VARCHAR(20);

    This statement adds a new column named "phone" to the "customers" table.

     4.TRUNCATE: The TRUNCATE statement is used to delete all data from a table, but the table structure remains intact. Here is an example of a TRUNCATE statement used to remove all data from a table:

In [ ]:
TRUNCATE TABLE customers;

    This statement removes all rows from the "customers" table, but the table structure and any indexes or constraints remain intact.

     In summary, DDL statements such as CREATE, DROP, ALTER, and TRUNCATE are used to define the structure of a database and its objects, and to modify or delete them as needed.

## Q3

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.


    DML stands for Data Manipulation Language, which is a subset of SQL used to insert, update, and delete data in a database. DML statements are used to manipulate the data stored in database objects such as tables. Here are some common DML statements and their usage:

    1.INSERT: The INSERT statement is used to insert new data into a table. Here is an example of an INSERT statement used to add a new row to a table:

In [ ]:
INSERT INTO customers (id, name, email) VALUES (1, 'John Doe', 'johndoe@email.com');

     This statement inserts a new row into the "customers" table with the specified values for the "id", "name", and "email" columns.

      2.UPDATE: The UPDATE statement is used to update existing data in a table. Here is an example of an UPDATE statement used to update a customer's email address:

In [ ]:
UPDATE customers SET email = 'newemail@email.com' WHERE id = 1;

     This statement updates the "email" column of the "customers" table for the row with "id" 1.

      3.DELETE: The DELETE statement is used to delete data from a table. Here is an example of a DELETE statement used to remove a customer from the "customers" table:

In [ ]:
DELETE FROM customers WHERE id = 1;

    This statement removes the row from the "customers" table where the "id" column is equal to 1.

     In summary, DML statements such as INSERT, UPDATE, and DELETE are used to manipulate the data stored in database objects such as tables. These statements are used to insert new data into tables, update existing data, or delete data from tables as needed.

## Q4

Q4. What is DQL? Explain SELECT with an example.


     DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database. DQL statements are used to query the data stored in database objects such as tables. Here is an example of a common DQL statement:

    1.SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. Here is an example of a SELECT statement used to retrieve data from the "customers" table:

In [ ]:
SELECT * FROM customers;

    This statement retrieves all columns from the "customers" table and all rows in the table. The asterisk (*) is a wildcard that selects all columns from the specified table.

    You can also specify which columns you want to retrieve by listing them after the SELECT keyword, separated by commas. For example:

In [ ]:
SELECT name, email FROM customers;

    This statement retrieves only the "name" and "email" columns from the "customers" table.

     You can also use the WHERE clause to filter the results based on a condition. For example:

In [ ]:
SELECT name, email FROM customers WHERE id = 1;

     This statement retrieves the "name" and "email" columns from the "customers" table for the row where the "id" column is equal to 1.

     In summary, DQL statements such as SELECT are used to retrieve data from one or more tables in a database. These statements allow you to retrieve specific columns, filter results based on conditions, and retrieve all or some rows in a table.

## Q5

Q5. Explain Primary Key and Foreign Key.


     In a relational database, a primary key and a foreign key are two types of constraints that are used to define relationships between tables. Here's a brief explanation of each:

      1. Primary Key: A primary key is a column or set of columns in a table that uniquely identifies each row in the table. It is used to enforce data integrity and ensure that there are no duplicate rows in the table. Primary keys are typically used to link related tables together through a foreign key constraint. For example, in a customer and orders database, the customer ID column in the customer table could be used as the primary key, while the order table would have a foreign key column that links to the customer ID column in the customer table.

      2. Foreign Key: A foreign key is a column or set of columns in a table that refers to the primary key in another table. It is used to define a relationship between two tables and enforce referential integrity. The foreign key column in a table contains values that match the primary key values in another table. For example, in a customer and orders database, the order table would have a foreign key column that links to the customer ID column in the customer table. This ensures that orders are associated with a valid customer and prevents orphaned records.

       In summary, a primary key is used to uniquely identify each row in a table, while a foreign key is used to define a relationship between two tables and ensure referential integrity. Together, they allow related tables to be linked and data to be stored in a normalized way.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

    Sure, here is an example Python code to connect to a MySQL database and execute a query using cursor() and execute() methods:

In [ ]:
import mysql.connector

# Connect to the MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a query
mycursor.execute("SELECT * FROM customers")

# Fetch the results
result = mycursor.fetchall()

# Print the results
for row in result:
  print(row)

    In this example, we first import the mysql.connector module and use its connect() method to connect to a MySQL database. We provide the necessary connection details such as host, user, password, and database.

    Next, we create a cursor object using the cursor() method of the connection object mydb. The cursor object is used to execute SQL statements and fetch results.

     We then execute a SELECT query using the execute() method of the cursor object. The query "SELECT * FROM customers" retrieves all rows from the customers table.

    We use the fetchall() method of the cursor object to fetch all the rows returned by the query. The fetched results are stored in the result variable.

    Finally, we iterate over the results using a for loop and print each row.

    In summary, the cursor() method is used to create a cursor object that can execute SQL statements, while the execute() method is used to execute a SQL statement on the cursor object.

## Q7


Q7. Give the order of execution of SQL clauses in an SQL query.


     The order of execution of SQL clauses in an SQL query is as follows:

      1.FROM: The FROM clause specifies the table or tables from which the data will be selected.

      2.WHERE: The WHERE clause filters the data based on a specified condition.

      3.GROUP BY: The GROUP BY clause groups the data based on one or more columns.

      4.HAVING: The HAVING clause filters the grouped data based on a specified condition.

      5.SELECT: The SELECT clause selects the columns to be displayed in the result set.

      6.DISTINCT: The DISTINCT keyword removes duplicate rows from the result set.

      7.ORDER BY: The ORDER BY clause sorts the result set based on one or more columns.

      8.LIMIT: The LIMIT clause limits the number of rows returned by the query.

       It's worth noting that not all SQL queries will include every clause, and some clauses can be combined or omitted depending on the specific query. However, this is the general order in which the clauses are executed.